/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.main {
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.my-container {
    display: flex;
    flex-direction: column;
}

.sidenav {
    width: 200px;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

html,
body {
    padding: 0;
    margin: 0;
}

header,
main,
footer {
    padding-left: 200px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

html,
body {
    height: 100%;
}

header {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #FFF;
    margin-top: 0px;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.promo {
    width: 100%;
}

.upper-nav {
    padding: 10px;
}

.navline {
    border-top-style: solid;
    border-bottom-style: solid;
    border-bottom-color: #D50000;
    BORDER-TOP-COLOR: #D50000;
}

.upper-nav-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
}