.main {
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 0 32px 32px 32px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.button {
    border: 2px solid #D50000;
    background-color: white;
    border-radius: 8px;
    padding: 5px 24px;
}

.call-list-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);
    justify-content: space-between;
}

.map-wrapper {
    flex-grow: 1;
    position: relative;
}

.map {
    height: 100%;
    position: fixed;
}

.table-wrapper {
    flex-grow: 1;
    overflow: auto;
}